p{
    color: yellow;
    background-color: rgb(187, 56, 56);
    text-align: center;
    text-align: justify; 
}

h1{
    background-color: rgb(92, 92, 158);
} 
.HI{
    color: rgb(163, 66, 86);
    text-align: right;
}
